
.background1{
    height: auto 100vh;
    background: #290244;
}

.content-background{
    height: auto 100vh;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.content-dadosUser{
    width: 90%;
    height: 15%;
    background: #dbdbdb;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.content-registros-despesas{
    width: 90%;
    height: auto;
    background: #dbdbdb;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
}

.content-filtro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 10px;
}

.content-filtro input{
    height: 5vh;
    border-radius: 5px;
    border: none;
    width: 30%;
    padding: 10px;
}

.content-filtro select{
    height: 5vh;
    border-radius: 5px;
    border: none;
    width: 30%;
}

.content-filtro input[type=date]{
    display: none;
}

.content-despesas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}