@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cabin", sans-serif;
}

section{
    height: 100vh;
    background: #290244;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-form{
    height: 80vh;
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f011a;
    border-radius: 10px;
    color: #fff;
    flex-direction: column;
}

form{
    flex-direction: column;
    padding: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

input[type=submit]{
    border-radius: 5px;
    background: #290244;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

input[type=submit]:hover{
    background: #1c042e;
}